.HomePage {
  background: url("../../images/bckgr-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  padding: 10px;
  margin-right: -2px;
}

.owner {
  position: absolute;
  bottom: 100px;
  width: 620px;
}

.photo {
  width: 280px;
  float: left;
  margin-right: 2em;
  margin-bottom: 0.5em;
  shape-outside: circle();
}
